body {
    font-family: Helvetica; font-size: 15px; background-color: rgba(13, 16, 23, 1); margin: 0;
}
#blockLogo0B {
    margin: 20px 0px 30px; text-align: center;
}
    #logo0B {
        height: 190px; width: 211px;
    }

#blockSend0B {
    padding: 10px 0px 40px; margin: 60px auto 30px; background-color:rgba(22, 27, 33, 1); height: 100px; width: 280px; border-radius: 7px; border: 1px solid rgba(48, 53, 59, 1);
}
    .blockSub0B {
        margin: 10px 30px 10px;
    }
        .subtitle0B {
            color:rgba(255, 255, 255, 1);
        }
    .blockInput0B {
        text-align: center;
    }
        .inputs0B {
            height:28px; width:220px; text-align: center; border-radius: 7px; border: 1px solid rgba(48, 53, 59, 1); background-color: rgba(13, 16, 23, 1); color: rgba(255, 255, 255, 1);
        }
    .blockMainOpt0B {
        margin: 25px auto 10px; text-align: center;
    }
    .blockSecOpt0B {
        margin-top: 20px; text-align: center;
    }
        .optLogin0B {
            height: 28px; width: 225px; cursor: pointer;
        }
            .login0B {
                background-color: rgba(0, 70, 185, 0); color: rgba(255, 255, 255, 1); border: none;
            }
            .forget0B {
                color: rgba(70, 140, 255, 1); border: 2px solid rgba(0, 0, 0, 0); text-decoration: none;
            }
                .login0B:hover {
                    background-color: rgba(02, 07, 13, 1); border-bottom: 3px solid rgba(0, 70, 185, 1)
                }
                .forget0B:hover {
                    background-color: rgba(255, 255, 255, 0); color: rgba(255, 255, 255, 1);
                }
#blockCancel0B {
    padding: 0px 0px 0px; margin: 30px auto 100px; background-color:rgba(22, 27, 33, 0); height: 28px; width: 220px; border-radius: 7px; border: 1px solid rgba(48, 53, 59, 0);
}
    .cancel0B {
        background-color: rgba(0, 70, 185, 0); color: rgba(255, 255, 255, 1); border: none;
    }
        .cancel0B:hover {
            background-color: rgba(02, 07, 13, 1); border-bottom: 3px solid rgba(0, 70, 185, 1);
        }
#blockInfo0B {
    padding: 23px 0px 24px; margin: auto auto auto; background-color: rgba(22, 27, 33, 1); border-top: 1px solid rgba(48, 53, 59, 1); text-align: center;
}
    .optFooter0B {
        padding: 0px 40px 0px; margin: auto auto auto; color: rgba(255, 255, 255, 1); text-decoration: none;
    }
        .optFooter0B:hover {
            background-color: rgba(255, 255, 255, 0); color: rgba(70, 140, 255, 1);
        } 