body {
    font-family: Helvetica; font-size: 15px; background-color: rgba(13, 16, 23, 1); margin: 0;
}
#blockLogo0A {
    margin: 20px 0px 30px; text-align: center;
}
    #logo0A {
        height: 190px; width: 211px;
    }

#blockLogin0A {
    padding: 10px 0px 40px; margin: 20px auto 20px; background-color:rgba(22, 27, 33, 1); height: 200px; width: 280px; border-radius: 7px; border: 1px solid rgba(48, 53, 59, 1);
}
    .blockSub0A {
        margin: 10px 30px 10px;
    }
        .subtitle0A {
            color:rgba(255, 255, 255, 1);
        }
    .blockInput0A {
        text-align: center;
    }
        .inputs0A {
            height:28px; width:220px; text-align: center; border-radius: 7px; border: 1px solid rgba(48, 53, 59, 1); background-color: rgba(13, 16, 23, 1); color: rgba(255, 255, 255, 1);
        }
    .blockMainOpt0A {
        margin: 25px auto 10px; text-align: center;
    }
    .blockSecOpt0A {
        margin-top: 20px; text-align: center;
    }
        .optLogin0A {
            height: 28px; width: 225px; cursor: pointer;
        }
            .login0A {
                background-color: rgba(0, 70, 185, 0); color: rgba(255, 255, 255, 1); border: none;
            }
            .forget0A {
                color: rgba(70, 140, 255, 1); border: 2px solid rgba(0, 0, 0, 0); text-decoration: none;
            }
                .login0A:hover {
                    background-color: rgba(02, 07, 13, 1); border-bottom: 3px solid rgba(0, 70, 185, 1)
                }
                .forget0A:hover {
                    background-color: rgba(255, 255, 255, 0); color: rgba(255, 255, 255, 1);
                }
#blockRegis0A {
    padding: 0px 0px 0px; margin: 30px auto 30px; background-color:rgba(22, 27, 33, 0); height: 28px; width: 220px; border-radius: 7px; border: 1px solid rgba(48, 53, 59, 0);
}
    .register0A {
        background-color: rgba(0, 70, 185, 0); color: rgba(255, 255, 255, 1); border: none;
    }
        .register0A:hover {
            background-color: rgba(02, 07, 13, 1); border-bottom: 3px solid rgba(0, 70, 185, 1);
        }
#blockInfo0A {
    padding: 23px 0px 24px; margin: auto auto auto; background-color: rgba(22, 27, 33, 1); border-top: 1px solid rgba(48, 53, 59, 1); text-align: center;
}
    .optFooter0A {
        padding: 0px 40px 0px; margin: auto auto auto; color: rgba(255, 255, 255, 1); text-decoration: none;
    }
        .optFooter0A:hover {
            background-color: rgba(255, 255, 255, 0); color: rgba(70, 140, 255, 1);
        } 